@model WebApplication1.Models.ViewModels.ProductoViewModel
@{
    ViewBag.Title = "Editar";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Editar", "Producto", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            @Html.HiddenFor(d=>d.id)
            @Html.LabelFor(d => d.nombre)
            @Html.TextBoxFor(d => d.nombre, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.nombre, null, new { @class = "red" })
            <br />
            @Html.LabelFor(d => d.descripcion)
            @Html.TextBoxFor(d => d.descripcion, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.descripcion, null, new { @class = "red" })
            <br />
            @Html.LabelFor(d => d.precio)
            @Html.TextBoxFor(d => d.precio, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.precio, null, new { @class = "red" })<br />

            <div>
                <input value="Guardar" class="btn btn-primary" type="submit" />
            </div>

        </div>

    </div>
}